@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Great+Vibes&display=swap');
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  display: block;
  background-image: url("./assets/love-you.gif");
  font-family: "Comfortaa", sans-serif;
}

h1, h2, h3 {
  font-family: "Great Vibes", cursive;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: inherit;
}

