.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, .8);

  &__wrapper {
    z-index: 1;
  }
}

.error {
  color: white;
  margin: 0;
}

.photo {
  width: 25vw;
  display: flex;

  &.absolute {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: rotate(10deg) translateY(-50%);
    z-index: -1;
  }
}

input[type="text"] {
  background: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid red;
  font-size: 18px;
  color: white;

  &:focus-visible {
    outline: none;
  }
}

button {
  color: #fff;
  background-color: red;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f97e7e;
  padding: 2rem;
  border-radius: 8px;
  max-width: 420px;
}
