.page {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &.dark {
    background-color: rgb(61 8 57 / 80%);
    color: white;
  }

  &__wrapper {
    z-index: 1;

    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      max-width: 660px;
      font-size: 20px;
    }
  }
}

.error {
  color: white;
  margin: 0;
}

.photo {
  max-width: 300px;
  width: 100%;
  display: flex;

  &.absolute {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: rotate(10deg) translateY(-50%);
    z-index: -1;
  }
}

input[type="text"] {
  background: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 18px;
  color: white;

  &:focus-visible {
    outline: none;
  }
}

button.btn {
  color: #fff;
  background-color: deeppink;
  font-size: 18px;
  display: inline-flex;
}

.play-btn {
  background-color: unset;
  padding: 0;

  img {
    width: 40px;
    height: 40px;
  }
}

.switch-btn {
  padding: 0;
  background-color: unset;

  img {
    width: 50px;
    height: auto;
  }

  &.darken {
    transform: rotate(180deg);
    filter: invert(1);
  }

}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fa6eba;
  padding: 2rem;
  border-radius: 8px;
  max-width: 420px;
  margin-inline: auto;
}

.photo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 10rem auto;

  h2 {
    margin: 0;
  }
}

.section-viewport {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
